html, body {
  height: 100%;
  width: 100%;
}
body {
  width: 750px;
  margin: 0 auto;
  background:lightcyan;
}
h1{
  font-size:50px;
}
h2{
  font-size:40px;
}
h3{
  font-size:37.5px;
}
li{
  font-size:27.5px;
}
pictures1, pictures2{
  width= 50px;
}
p{
  font-size:20px;
}
Head{
  background:white;
}